

@import "variables";
@import "mixins";
@import "grid";



* { box-sizing: border-box; }




body{
	padding:0;
    margin:auto;
    font-family: 'Open Sans', helvetica, sans-serif;
}


/* Header */
header {
  background: $blue;
  padding: 10px;
  margin-bottom: 20px;
}



header{
    body#home & {
    margin-bottom: 0;
  }

    @include breakpoint($tablet){
      text-align: center;
    }

       
      .logo {
        float: left;
         width: 65px;
    }

    .row {
        margin-bottom: 0;
    }
    nav {
        margin-top: 21px;
        float: right;
        text-align: right;
           a {
              margin-right: 20px;
              font-size: 13px;
              color: #444;
              text-decoration: none;
              @include ease;

              &:last-of-type {
                margin: 0;
                &:hover{
                  color: #FB8B6F;
                }
              }
          }
    }
}



/* Footer */
footer {
  background: $red;
  margin-top: 60px;
  padding: 5px 0;
  font-size: 13px;
  text-align: center;
}




/* Hero */
.hero {
  background: #ccc;
  background-image: url(https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98?fit=crop&fm=jpg&h=700&q=75&w=1050);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

      h1 {
        margin: 0;
        padding: 120px 0;
        color: white;
        text-shadow: 0 0 10px #444;
        text-align: center;
     }

  }



